.project-card {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 30ch;
  max-width: 45ch;
  padding: 1.5rem;

  background-color: rgba(239, 253, 255, 0.706);
  border-radius: 15px;

  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

  display: flex;
  flex-direction: column;
}

.project-title {
  margin: 0 1em;
}

.project-description {
  line-height: 1.4em;
}

.project-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.project-button {
  padding: 0.7em;
  border-radius: 999px;

  background-color: rgba(172, 216, 255, 0.516);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

  border: 1px solid var(--navy);
}

.project-button a {
  font-size: 1.125rem;
  color: rgb(9, 1, 82);
}
