.nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  background: var(--navy);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.nav-item {
  padding-inline-start: 0;
  padding: 0 1rem;
}

.nav-item a {
  color: white;
}
